<h1>メニュー</h1>

<%= link_to "馬一覧",        :umas,        class: "btn btn-default btn-warning" %>
<%= link_to "レース一覧",     :races,       class: "btn btn-default btn-warning" %>
<%= link_to "レース結果一覧", :raceresults, class: "btn btn-default btn-warning" %>

<br>